{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}

<!-- NAVBAR INICIO ACTIVE -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
    <a href="{% url 'index'%}" class="navbar-brand ms-lg-5">
        <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>Petshop</h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0">
            {% if user.is_authenticated %}
            <a href="#"class= "nav-link">Bienvenido: {{ user.username }}</a>
            <a href="{% url 'logout' %}"class= "nav-link">Cerrar sesion</a>
            {% else %}
            <a href="{% url 'login' %}"class= "nav-link">Ingresar</a>
            {% endif %}
            <a href="{% url 'index'%}" class="nav-item nav-link active">Inicio</a>
            <a href="{% url 'about'%}" class="nav-item nav-link ">Acerca de</a>
            <a href="{% url 'service'%}" class="nav-item nav-link ">Servicio</a>
            <a href="{% url 'product'%}" class="nav-item nav-link ">Producto</a>
            <div class="nav-item dropdown">

                <!-----------------------SOLUCIONAR DROP DOWN-------------------------->
                <!--MODIFICAR NOMBRES-->
                <!--<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                <div class="dropdown-menu m-0">
                    <a href="{% url 'team' %}" class="dropdown-item">The Team</a>
                    <a href="{% url 'testimonio' %}" class="dropdown-item">Testimonial</a>
                    <a href="{% url 'blog' %}" class="dropdown-item">Blog Grid</a>
                    <a href="{% url 'detalle' %}" class="dropdown-item">Blog Detail</a>
                </div>-->
                <!-------------------------------------------------------------------->
            </div>
            <a href="{% url 'carrito' %}" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Carrito <i class="bi bi-cart"></i></a>
        </div>
    </div>
</nav>
<!-- NAVBAR FIN ACTIVE -->

<!-- VIDEO O CARRUSEL INICIO HERO-HEADER=STYLE -->
<div class="container-fluid bg-primary py-5 mb-5 hero-header">
    <div class="container py-5">
        <h6>UF: {{ moneda.uf.valor }}  - EURO: {{ moneda.euro.valor }}<h6>
        <div class="row justify-content-start">
            <div class="col-lg-8 text-center text-lg-start">
                <h1 class="display-1 text-uppercase text-dark mb-lg-4">PetShop</h1>
                <h1 class="text-uppercase text-white mb-lg-4">Los mejores productos</h1>
                <p class="fs-4 text-white mb-lg-4">Al mejor precio</p>
                <div class="d-flex align-items-center justify-content-center justify-content-lg-start pt-5">
                    <a href="{% url 'product' %}" class="btn btn-outline-light border-2 py-md-3 px-md-5 me-5">Ver mas</a>
                </div>
            </div>
        </div>
    </div>
  </div>
  <div class="container-fluid py-5">
    <div class="container">
      <div class="row gx-5">
        <div class="col-lg-5 mb-5 mb-lg-0" style="min-height: 500px;">
          <div class="position-relative h-100">
            <img class="position-absolute w-100 h-100 rounded" src="{% static 'core/img/about.jpg'%}" style="object-fit: cover;">
          </div>
        </div>
        <div class="col-lg-7">
          <div class="border-start border-5 border-primary ps-5 mb-5 rounded">
            <h6 class="text-primary text-uppercase">Más de nosotros</h6>
            <h1 class="display-5 text-uppercase mb-0">Mantenemos a sus mascotas felices todo el tiempo</h1>
          </div>
          <h4 class="text-body mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Possimus, temporibus?</h4>
          <div class="bg-light p-4 rounded">
            <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
              <li class="nav-item w-50" role="presentation">
                <button class="nav-link text-uppercase w-100 active rounded-pill" id="pills-1-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1" aria-selected="true">Nuestro objetivo</button>
              </li>
              <li class="nav-item w-50" role="presentation">
                <button class="nav-link text-uppercase w-100 rounded-pill" id="pills-2-tab" data-bs-toggle="pill"
                  data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2" aria-selected="false">Nuestra visión</button>
              </li>
            </ul>
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae quam inventore modi dolore quas? Ut pariatur repellat maxime dolorum quae, consectetur sunt repellendus, animi ipsam quia alias hic repudiandae necessitatibus!</p>
              </div>
              <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                <p class="mb-0">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laborum ipsam vitae vero maiores esse quae magnam? Facere quaerat ipsam molestias excepturi quo ipsa, explicabo nostrum, sed officia quam optio minus?</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- ABOUT FIN -->

  <div class="container-fluid py-5">
    <div class="container">
      <div class="border-start border-5 border-primary ps-5 mb-5" style="max-width: 600px;">
        <h6 class="text-primary text-uppercase">Servicios</h6>
        <h1 class="display-5 text-uppercase mb-0">Nuestros servicios de cuidado de mascotas</h1>
      </div>
      <div class="row g-5">
        <div class="col-md-6">
          <div class="service-item bg-light d-flex p-4" style="background-color: #96d98424 !important; margin: 20px; border-radius: 10px;">
            <i class="flaticon-house display-1 text-primary me-4"></i>
            <div>
              <h5 class="text-uppercase mb-3">Alojamiento de mascotas</h5>
              <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
              <a class="text-primary text-uppercase" href="">Leer más<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item bg-light d-flex p-4" style="background-color: #96d98424 !important; margin: 20px; border-radius: 10px;">
            <i class="flaticon-food display-1 text-primary me-4"></i>
            <div>
              <h5 class="text-uppercase mb-3">Alimentación de mascotas</h5>
              <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
              <a class="text-primary text-uppercase" href="">Leer más<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item bg-light d-flex p-4" style="background-color: #96d98424 !important; margin: 20px; border-radius: 10px;">
            <i class="flaticon-grooming display-1 text-primary me-4"></i>
            <div>
              <h5 class="text-uppercase mb-3">Aseo de mascotas</h5>
              <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
              <a class="text-primary text-uppercase" href="">Leer más<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item bg-light d-flex p-4" style="background-color: #96d98424 !important; margin: 20px; border-radius: 10px;">
            <i class="flaticon-cat display-1 text-primary me-4"></i>
            <div>
              <h5 class="text-uppercase mb-3">Entrenamiento de mascotas</h5>
              <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
              <a class="text-primary text-uppercase" href="">Leer más<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item bg-light d-flex p-4" style="background-color: #96d98424 !important; margin: 20px; border-radius: 10px;">
            <i class="flaticon-dog display-1 text-primary me-4"></i>
            <div>
              <h5 class="text-uppercase mb-3">Ejercicio para mascotas</h5>
              <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
              <a class="text-primary text-uppercase" href="">Leer más<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="service-item bg-light d-flex p-4" style="background-color: #96d98424 !important; margin: 20px; border-radius: 10px;">
            <i class="flaticon-vaccine display-1 text-primary me-4"></i>
            <div>
              <h5 class="text-uppercase mb-3">Tratamiento de mascotas</h5>
              <p>Kasd dolor no lorem sit tempor at justo rebum rebum stet justo elitr dolor amet sit</p>
              <a class="text-primary text-uppercase" href="">Leer más<i class="bi bi-chevron-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- SERVICIOS FIN-->

<div class="container">
    <div class="border-start border-5 border-primary ps-5 mb-5 my-5" style="max-width: 600px;">
        <h1 class="display-5 text-uppercase mb-0"> Api Personajes Rick y Morty</h1>
      </div>
    <div class="row row-cols-3 g-8">   
      {%  for aux in personajes %}
      <div class="col ">
        <div class="card text-center">
            <img src="{{ aux.image }}"  class="card-img-top" alt="Fissure in Sandstone"/>
            <div class="card-body">
              <h5 class="card-title">Nombre: {{ aux.name }}</h5>
              <p class="card-text">Raza: {{ aux.species }}</p>
            </div>
          </div>
      </div>
      {% endfor %}
    </div>
</div>



{% for tipo in tipoProducto %}
    <p class="card-text">Stock: {{ tipo.tipoProducto }}</p>
{% endfor %}



<!-- OFERTAS INICIO -->
<div class="container-fluid bg-offer my-5 py-5">
  <div class="container py-5">
      <div class="row gx-5 justify-content-start">
          <div class="col-lg-7">
              <div class="border-start border-5 border-dark ps-5 mb-5">
                  <h6 class="text-dark text-uppercase">Oferta especial</h6>
                  <h1 class="display-5 text-uppercase text-white mb-0">Ahorre 50% en todos los artículos de su primer pedido</h1>
              </div>
              <!--<a href="{% url 'product'  %}" class="btn btn-light py-md-3 px-md-5 me-3">Compra ahora</a>-->
              <a href="" class="btn btn-outline-light py-md-3 px-md-5">Leer más</a>
          </div>
      </div>
  </div>
</div>
<!-- OFERTAS FIN -->




{% endblock %}
{% block js %}
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}