{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
<!-- NAVBAR INICIO ACTIVE -->
<nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm py-3 py-lg-0 px-3 px-lg-0">
  <a href="{% url 'index'%}" class="navbar-brand ms-lg-5">
      <h1 class="m-0 text-uppercase text-dark"><i class="bi bi-shop fs-1 text-primary me-3"></i>Petshop</h1>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
          {% if user.is_authenticated %}
          <a href="#"class= "nav-link">Bienvenido: {{ user.username }}</a>
          <a href="{% url 'logout' %}"class= "nav-link">Cerrar sesion</a>
          {% else %}
          <a href="{% url 'login' %}"class= "nav-link">Ingresar</a>
          {% endif %}
          <a href="{% url 'index'%}" class="nav-item nav-link">Inicio</a>
          <a href="{% url 'historial'%}" class="nav-item nav-link ">compras</a>

          <a href="{% url 'product'%}" class="nav-item nav-link active">Producto</a>
          {% if user.is_superuser %}
          <a href="{% url 'seguimientoAdmin' %}" class="nav-item nav-link ">Seguimiento</a>
          {% else %}
          <a href="{% url 'seguimiento' %}" class="nav-item nav-link ">Seguimiento</a>
          {% endif %}
          {% if user.cliente.suscripcion_set.exists %}
          <a href="{% url 'adminSuscripcion'%}" class="nav-item nav-link ">Suscripcion</a>
          {% elif user.is_authenticated %}
          <a href="{% url 'suscripcion'%}" class="nav-item nav-link ">Suscribete</a>    
          {% endif %}
          <div class="nav-item dropdown">

              <!-----------------------SOLUCIONAR DROP DOWN-------------------------->
              <!--MODIFICAR NOMBRES-->
              <!--<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
              <div class="dropdown-menu m-0">
                  <a href="{% url 'team' %}" class="dropdown-item">The Team</a>
                  <a href="{% url 'testimonio' %}" class="dropdown-item">Testimonial</a>
                  <a href="{% url 'blog' %}" class="dropdown-item">Blog Grid</a>
                  <a href="{% url 'detalle' %}" class="dropdown-item">Blog Detail</a>
              </div>-->
              <!-------------------------------------------------------------------->
          </div>
          <a href="{% url 'carrito' %}" class="nav-item nav-link nav-contact bg-primary text-white px-5 ms-lg-5">Carrito <i class="bi bi-cart"></i></a>
      </div>
  </div>
</nav>
<!-- NAVBAR FIN -->

<div class="container" style="margin-bottom: 150px;">
  <div class="border-start border-5 border-primary ps-5 mb-5 my-5" style="max-width: 800px;">
      <h1 class="display-5 text-uppercase mb-0">Productos para tus mejores amigos</h1>
  </div>
    <div class="container">
      <div class="row product-grid-3">
        {% for aux in listado %}
        <div class="col-lg-3 col-md-4 my-5" style="width: 310px; height: 405px;">
          <div class="product-item position-relative bg-light d-flex flex-column text-center" style="background-color:#96d98424 !important; width: 260px; height: 460px; margin: 20px; border-radius: 10px;">
              <img src="{{ aux.imagen.url }} "  class="img-fluid mb-4" style="object-fit: contain; display: flex; justify-content: center; height: 250px; align-items: center; " alt="Fissure in Sandstone"/>
              <div class="card-body">
                <h5 class="card-title">{{ aux.nombre }}</h5>
                {% if aux.stock > 0 %}
                <p class="card-text">Stock: {{ aux.stock }}</p>
                {% else %}
                <p class="card-text" style="color: red;">SIN STOCK</p>
                {% endif %}
                <p class="card-text" style="color: forestgreen;"><strong>${{ aux.precio }}</strong></p>
                <div class="btn-action d-flex justify-content-center">
                  {% if user.is_authenticated and user.groups.exists %}
                    {% for group in user.groups.all %}
                      {% if group.name == 'cliente' and aux.stock > 0 %}
                        <a href="{% url 'oneProduct' aux.id %}" class="btn btn-primary" style="border-radius: 10px; margin: 3px; "><i class="bi bi-eye"></i></a><!--ver mas-->

                      {% elif group.name == 'vendedor' %}  
                        <a href="{% url 'add' %}" class="btn btn-primary" style="border-radius: 10px; margin: 3px;"><i class="bi bi-plus-circle"></i></a><!--Agregar-->
                        <a href="{% url 'update' aux.id %}" class="btn btn-primary" style="border-radius: 10px; margin: 3px;"><i class="bi bi-arrow-repeat"></i></a><!--modificar-->
                        <a onclick="deleteProducto('{{ aux.id }}')" class="btn btn-primary" style="border-radius: 10px; margin: 3px;"><i class="bi bi-trash"></i></a><!--eliminar-->
                      {% endif %}
                    {% endfor %}
                  {% endif %}
              </div>
              </div>
            </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'core/js/mensajeProducto.js' %}"></script>
{% endblock %}