{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
  
<div class="col-lg-12 mb-5 mb-lg-0 text-center">
  <h1 class="my-5 display-4">
    Seguimiento <br />
    <span class="text-primary">Estado de su compra</span>
  </h1>
</div>

<div class="container-fluid py-2">
  <table class="col-lg-12 mb-5 mb-lg-4 text-center align-items-center">
    <thead class="bg-light">
      <tr>
        <th>Código</th>
        <th>Fecha de compra</th>
        <th>Estado del pedido</th>
      </tr>
    </thead>
    <tbody>
      {% for compra in listado %}
      <tr>
        
        <td>
          <p class="fw-normal mb-1">{{ compra.codigo }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ compra.fecha }}</p>
        </td>
        <td>
          <p style="color: mediumblue"><strong>{{ compra.nombreEstado }}</strong></p>
          {% if user.is_superuser %}
          <a href="{% url 'updateEstado' compra.id %}" class="btn btn-primary">Modificar</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
      <div>
        <a href="{% url 'index' %}"><i class="fas fa-angle-left me-2"></i>Volver</a>
      </div>
    </tbody>
  </table>
</div>

{% endblock %}
