{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
  
<div class="col-lg-12 mb-5 mb-lg-0 text-center">
  <h1 class="my-5 display-4">
    Seguimiento <br />
    <span class="text-primary">Estado de su compra</span>
  </h1>
</div>

<div class="container-fluid py-2">
  <table class="col-lg-12 mb-5 mb-lg-4 text-center align-items-center">
    <thead class="bg-light">
      <tr>
        <th>Producto</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Fecha estimada</th>
        <th>Estado del pedido</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="d-flex align-items-center">
            {% for aux in listado %}
            <img
                src="{{ aux.imagen.url }}"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
                />
            <div class="ms-3">
              <p class="fw-bold mb-1"></p>
              <p class="text-muted mb-0"></p>
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ aux.nombre }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">${{ aux.precio }}</p>
        </td>
        {% endfor %}
        <td>27/06/2023</td>
        <td>
          {% for aux in listado2 %}
          <p style="color: mediumblue"><strong>{{ aux.estado }}</strong></p>
          {% if user.username == "admin" or user.username == "bigboss" %}
          <a href="{% url 'updateSeguimiento' aux.id %}" class="btn btn-primary">Modificar</a>
          {% endif %}
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}



